/* Always include process and resources config */
includeConfig '/hpc/pmc_vanboxtel/tools/ToolsVanBox/NF-IAP_v1.3.0/configs/nextflow.config'
includeConfig '/hpc/pmc_vanboxtel/tools/ToolsVanBox/NF-IAP_v1.3.0/configs/process.config'
includeConfig './resources_pt3291.config'

params {
  fastq_path = ''
  bam_path = "/hpc/pmc_vanboxtel/projects/TallFlow/1_Input/HaplotypeCaller/pt3291/"
  vcf_path = ''
  gvcf_path = ''
  out_dir = '/hpc/pmc_vanboxtel/projects/TallFlow/3_Output/HaplotypeCaller/pt3291/'
  genome = 'GRCh38'

  premapQC = false
  postmapQC = false
  germlineCalling = true
  variantFiltration = true
  variantAnnotation = true
  cnvCalling = false
  svCalling = false

}
